<article class="content">
    <div class="row detail">
        <section class="col-md-8 col-md-offset-2 margBot">
            <md-button aria-label="Back" ng-click="goBack()"
              class="margLeft md-raised md-primary"><i class="fa fa-arrow-left"></i> Back</md-button>
        </section>
        <section class="col-md-8 col-md-offset-2">
            <div class="col-md-12 up">
                <h3>{{user.name}}</h3>
                <h5>{{user.email}}</h5>
                <md-select multiple ng-model="user.role" placeholder="Please select">
                    <md-option ng-repeat="role in userRoles" value="{{role}}">{{role}}</md-option>
                </md-select>
            </div>
            <div class="col-md-12">
                <md-button class="margNot md-raised md-accent" aria-label="Save changes" ng-click="saveUser()">Save</md-button>
            </div>
        </section>
    </div>
</article>
