<article class="content">
    <div class="row detail">
        <section class="col-md-8 col-md-offset-2">
            <img class="col-md-2" src="{{syllabus.iconurl}}">
            <div class="col-md-8 up">
                <h3>{{syllabus.title}}</h3>
                <h5>{{syllabus.education}} {{syllabus.education ? ', ' : ''}}{{syllabus.year}}</h5>
                <p><strong>Lecturer</strong>: {{syllabus.academy}}{{syllabus.academy ? ', ' : ''}}{{syllabus.lecturer ? syllabus.lecturer : 'Unknown'}}</p>
                <p><strong>Objectives</strong>: {{syllabus.objectives}}</p>
            </div>
        </section>
        <section class="weekplans col-md-8 col-md-offset-2" ng-repeat="week in syllabus.weekplans">
            <div class="row">
                <div class="col-md-12 week"><strong>Week: {{week.week}}</strong></div>
                <div class="margTop">
                    <div class="col-md-6">
                        <p><strong>Summary</strong>: {{week.sumary}}</p>
                        <p><strong>Topics</strong>: {{week.topics}}</p>
                        <p><strong>Literature</strong>: {{week.literature}}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Videos</strong>: {{week.videos}}</p>
                        <p><strong>Assignments</strong>: {{week.assignments}}</p>
                        <p><strong>Teaser</strong>: {{week.teaser}}</p>
                    </div>
                </div>
            </div>
            <md-divider md-inset ng-if="!$last"></md-divider>
        </section>
        <section class="col-md-8 col-md-offset-2">
            <md-button class="col-md-1 md-raised md-primary margLeft" ng-click="goBack()"><i class="fa fa-arrow-left" aria-label="Go Back"></i></md-button>
        </section>
    </div>
</article>
